<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="MD.DevTools.NotificationSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <MD.DevTools.NotificationSender.Properties.Settings>
            <setting name="Asset" serializeAs="String">
                <value>YOUR_IMEI</value>
            </setting>
            <setting name="Date" serializeAs="String">
                <value>2013-04-13</value>
            </setting>
            <setting name="ItemsPerPage" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="PauseBetweenRequest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Url" serializeAs="String">
              <value>http://YOUR_URL</value>
            </setting>
        </MD.DevTools.NotificationSender.Properties.Settings>
    </applicationSettings>
</configuration>
