@{
    ViewBag.Title = "Change Password";
}
<div class="container" style="padding-top: 45px">
    <h2>
        Change Password</h2>
    <p>
        Your password has been changed successfully.
    </p>
</div>
