@{
    ViewBag.Title = "Index";
}

<h2>ObStack Demo</h2>

<h3>Last Content</h3>
<p>
    @ViewBag.LastContent
</p>

<h3>Last Result Content</h3>
<p>
    @ViewBag.LastResultContent
</p>

<h3>Last Error</h3>
<p>
    @ViewBag.LastError
</p>