<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="CloudconnectExample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <CloudconnectExample.Properties.Settings>
            <setting name="account" serializeAs="String">
                <value>YOUR_LOGIN</value>
            </setting>
            <setting name="token" serializeAs="String">
                <value>YOUR_TOKEN</value>
            </setting>
        </CloudconnectExample.Properties.Settings>
    </applicationSettings>
</configuration>
