@model IEnumerable<CloudConnectReader.Models.AccountModel>
<div class="container" style="padding-top: 45px">
    <h2>
        Accounts</h2>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Actions
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>
